.text-centre {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.news {
    background-color: rgba(236, 236, 236, 0.8);
    width: 810px;
    margin-top: 40px;

}

.page-title {
    color: black;
    text-transform: uppercase;
}

.page-description {
    color: grey;
    font-size: 20px;
}

.news-title {
    border-left: solid black;
    padding-left: 5px;
}

.main-content {
    margin-top: 100px;
}

.news-img {
    max-width: 800px;
    padding-left: 5px;
}

.news-text {
    font-size: 18px;
    font-style: italic;
    width: 800px;
    border-left: solid black;
    padding-left: 5px;
}